html { 
    height: 100%;
}
body { 
    margin: 0;
    height: 100%;
    width: 100%;
}
.fillscreen { 
    height: 100%;
    width: 100%;
}
.planet {
    fill: white;
    stroke: black
}

.ship {
    stroke-width: 0%;
}

.player1 {
    fill: red;
}

.player2 {
    fill: blue;
}

.player3 {
    fill: purple;
}

.player4 {
    fill: green;
}
